.van-nav-bar {
    background-color: #fff;
}
.van-nav-bar__title {
    color: #1F2533;
    font-family: PingFangSC-Regular;
}
.van-nav-bar .van-icon {
    color: #1F2533;
}
.bottomButton {
    display: block;
   width: 60%;
   margin: 30px auto 0;

}

.van-checkbox__icon--checked .van-icon {
    color: #fff;
    background-color: #FFD338;
    border-color: #FFD338;
}